.container {
    width: 90%;
    margin: auto;
    margin-top: 3em;
}
:host /deep/ .mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aqua;
    padding: 0 24px;
    border-radius: inherit;
    position: relative;
}
.text-center{
    text-align: center;
}
.img{
    width: 200px;
    object-fit: cover;
}
.container-flex{
    display: inline-flex;
}
.container-flex > div{
    padding: 5px;
}
.container-flex > div > label{
    font-size: 28px;
}