<div class="container">
  <h2 class="text-center">displaying expansion panel recursivley</h2>
  <mat-accordion>
    <ng-template #recursiveList let-data>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let item of data" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.title}}
          </mat-panel-title>
          <mat-panel-description>
            {{item.subTitle}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-accordion *ngIf="item.body.length > 0">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.body }"></ng-container>
        </mat-accordion>
      </mat-expansion-panel>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: data }"></ng-container>
  </mat-accordion>
</div>
<hr>
<hr>
<div class="container text-center">
  <h2>to solve Permutations Equation Enter the value of n and r</h2>
  <div class="text-center">
    <img src="../assets/images/2c84c3a0a7660b90d0b8aebbb68522cc.png" class="img">
  </div>
  <div class="container-flex">
    <div>
      <label>n = </label>
      <input type="number" [(ngModel)]="n">
    </div>
    <div>
      <label>r = </label>
      <input type="number" [(ngModel)]="r">
    </div>
    <div>
      <button class="btn-equal" (click)="permutationValue()">Equals</button>
    </div>
    <div>
      <button class="btn-reset" (click)="reset()">reset</button>
    </div>
  </div>
  <div class="text-center">
    <h2>{{value}}</h2>
  </div>
</div>